@model GSendService.Models.MachineViewModel

<style>
    table, th, td {
        border: 1px solid black;
        border-radius: 10px;
    }
</style>
<table border="1">
    <tr >
        <td>&#8598;</td>
        <td>&#8593;</td>
        <td>&#8599;</td>
        <td rowspan="3"><input type="range" min="1" max="500" value="350" id="jogFeedRate" /></td>
    </tr>
    <tr>
        <td>&#8592;</td>
        <td>&nbsp;</td>
        <td>&#8594;</td>
    </tr>
    <tr>
        <td>&#8601;</td>
        <td>&#8595;</td>
        <td>&#8600;</td>
    </tr>
</table>