@model GSendService.Models.ServiceHistoryModel
@{
    ViewData["Title"] = Model.SeoTitle;
}

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.ToolDatabase</h3>
    </div>
</div>

