@model GSendService.Models.MachineViewModel
@{
    ViewData["Title"] = $"{Model.Name} {Model.SeoTitle}";
}

<div class="row">
    <div class="col-sm-12">
        <h3>@Model.Name</h3>
    </div>
</div>
<div class="row">
    <div class="col-4">
        @await Html.PartialAsync("~/Views/Shared/_JogCommands.cshtml")
    </div>
</div>
<script>
    gSend.init();
</script>
