@model SharedPluginFeatures.BaseModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuEditor</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>GSend Pro includes a dedicated G-code editor that fully understands the syntax and structure of G-code commands and applies syntax highlighting to visually distinguish specific elements, making it easier to view and understand.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Also included is an advanced G-code analyser which provides validation and error checking for your G-code.  The warnings and errors are displayed within the editor, helping to prevent common programming mistakes.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="w3-content w3-section" style="max-width:100%">
            <img class="mySlides" src="/images/editor/1.png" style="width:100%">
            <img class="mySlides" src="/images/editor/2.png" style="width:100%">
            <img class="mySlides" src="/images/editor/3.png" style="width:100%">
        </div>
    </div>
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000);
    }
</script>