<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuJobProfile</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>With GSend Pro you can setup and use multiple job profiles, a job profile is a way in which you can organise your jobs by a specific type. For instance, if you create a small heart box in Oak, you could create a specific job profile which would allow you to track how many pieces you have made.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Each job profile has the ability to provide a unique serial number for each time a job is run against the profile, this can be useful should you want to carve the serial number on the work piece or just keep a count of how many items of a specific type you have produced.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>A default job profile can be used for any miscellaneous jobs that you run.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Reports can include which job profile was used when running a job so that you can keep track of what types of jobs you have been running.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>@GSend.Language.Resources.WebMenuSeeAlso</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <a href="/MCodes/M602/">M602</a>
    </div>
</div>
