@model SharedPluginFeatures.BaseModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuSender</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The GCode sender provides a lot of functionality that has been specifically designed to allow fine grained control over your machine whilst viewing multiple machines on a single monitor.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>You can easily control multiple machines from a single PC/Laptop, the only limit is the computer itself.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="w3-content w3-section" style="max-width:100%">
            <img class="mySlides" src="/images/sender/1.png" style="width:100%">
            <img class="mySlides" src="/images/sender/2.png" style="width:100%">
            <img class="mySlides" src="/images/sender/3.png" style="width:100%">
            <img class="mySlides" src="/images/sender/4.png" style="width:100%">
            <img class="mySlides" src="/images/sender/5.png" style="width:100%">
            <img class="mySlides" src="/images/sender/6.png" style="width:100%">
            <img class="mySlides" src="/images/sender/7.png" style="width:100%">
            <img class="mySlides" src="/images/sender/8.png" style="width:100%">
        </div>
    </div>
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000);
    }
</script>