@model SharedPluginFeatures.BaseModel

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuVariables</h3>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <h3>Variable Id's 1 to 100 are reserved for system use, these can not be set within custom GCode.</h3>
    </div>
</div>
