@model SharedPluginFeatures.BaseModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
ViewData["Title"] = "Privacy Policy";
}
<div class="row">
<div class="col-sm-12">
<h1>@Localizer[nameof(Languages.LanguageStrings.PrivacyPolicy)]</h1>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<p>Last updated November 23, 2022</p>
<p>
This privacy notice for gsend.pro ('Company', 'we', 'us', or 'our',), describes how and why we might collect, store, use,
and/or share ('process') your information when you use our services ('Services'), such as when you:
</p>
<p>Visit our website at https://www.gsend.pro, or any website of ours that links to this privacy notice</p>
<p>Engage with us in other related ways, including any sales, marketing, or events</p>
<p>
Questions or concerns? Reading this privacy notice will help you understand your privacy rights and choices. If you do not
agree with our policies and practices, please do not use our Services. If you still have any questions or concerns, please contact us at gsendpro@gmail.
</p>
<h2>1. WHAT INFORMATION DO WE COLLECT?</h2>
<p>Personal information you disclose to us</p>
<p>
We collect personal information that you voluntarily provide to us when you register on the Services, express an
interest in obtaining information about us or our products and Services, when you participate in activities on the Services, or otherwise when you contact us.
</p>
<p>
Personal Information Provided by You. The personal information that we collect depends on the context of your interactions with
us and the Services, the choices you make, and the products and features you use. The personal information we collect may include the following:
</p>
<ul>
<li>email addresses</li>
<li>passwords</li>
</ul>
<p>Sensitive Information. We do not process sensitive information.</p>
<p>
Social Media Login Data. We may provide you with the option to register with us using your existing social media account details, like your Facebook,
Twitter, or other social media account. If you choose to register in this way, we will collect the information described in the section called 'HOW DO WE HANDLE YOUR SOCIAL LOGINS?' below.
</p>
<p> All personal information that you provide to us must be true, complete, and accurate, and you must notify us of any changes to such personal information.</p>
<h2>2. HOW DO WE PROCESS YOUR INFORMATION?</h2>
<p>We process your personal information for a variety of reasons, depending on how you interact with our Services, including:</p>
<ul>
<li>
To facilitate account creation and authentication and otherwise manage user accounts. We
may process your information so you can create and log in to your account, as well as keep your account in working order.
</li>
</ul>
<p>To save or protect an individual's vital interest. We may process your information when necessary to save or protect an individual’s vital interest, such as to prevent harm.</p>
<h2>3. WHAT LEGAL BASES DO WE RELY ON TO PROCESS YOUR INFORMATION?</h2>
<p>If you are located in the EU or UK, this section applies to you.</p>
<p>
The General Data Protection Regulation (GDPR) and UK GDPR require us to explain the valid legal bases we rely on in order to process your personal
information. As such, we may rely on the following legal bases to process your personal information:
</p>
<ul>
<li>
Consent. We may process your information if you have given us permission (i.e. consent) to use your personal information for a specific purpose. You can withdraw your consent at any time. Click here to learn more.
</li>
<li>
Legal Obligations. We may process your information where we believe it is necessary for compliance with our legal obligations, such
as to cooperate with a law enforcement body or regulatory agency, exercise or defend our legal rights, or disclose your information as evidence in litigation in which we are involved.
</li>
<li>
Vital Interests. We may process your information where we believe it is necessary to protect your vital interests or the
vital interests of a third party, such as situations involving potential threats to the safety of any person.
</li>
</ul>
<h4>If you are located in Canada, this section applies to you.</h4>
<p>
We may process your information if you have given us specific permission (i.e. express consent) to use your personal
information for a specific purpose, or in situations where your permission can be inferred (i.e. implied consent). You can withdraw your consent at any time.
</p>
<p>In some exceptional cases, we may be legally permitted under applicable law to process your information without your consent, including, for example:</p>
<ul>
<li>If collection is clearly in the interests of an individual and consent cannot be obtained in a timely way</li>
<li>For investigations and fraud detection and prevention</li>
<li>For business transactions provided certain conditions are met</li>
<li>If it is contained in a witness statement and the collection is necessary to assess, process, or settle an insurance claim</li>
<li>For identifying injured, ill, or deceased persons and communicating with next of kin</li>
<li>If we have reasonable grounds to believe an individual has been, is, or may be victim of financial abuse</li>
<li>
If it is reasonable to expect collection and use with consent would compromise the availability or the accuracy of the information and
the collection is reasonable for purposes related to investigating a breach of an agreement or a contravention of the laws of Canada or a province
</li>
<li>If disclosure is required to comply with a subpoena, warrant, court order, or rules of the court relating to the production of records</li>
<li>
If it was produced by an individual in the course of their employment, business, or profession and the collection is consistent
with the purposes for which the information was produced
</li>
<li>If the collection is solely for journalistic, artistic, or literary purposes</li>
<li>If the information is publicly available and is specified by the regulations</li>
</ul>
<h2> 4. WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</h2>
<p> We do not share information with third parties.</p>
<h2> 5. WHAT IS OUR STANCE ON THIRD-PARTY WEBSITES?</h2>
<p>
The Services may link to third-party websites, online services, or mobile applications and/or contain advertisements from third parties that are not
affiliated with us and which may link to other websites, services, or applications. Accordingly, we do not make any guarantee regarding any such
third parties, and we will not be liable for any loss or damage caused by the use of such third-party websites, services, or applications.
</p>
<p>
The inclusion of a link towards a third-party website, service, or application does not imply an endorsement by us. We cannot guarantee the safety and
privacy of data you provide to any third parties. Any data collected by third parties is not covered by this privacy notice. We are not responsible for the
content or privacy and security practices and policies of any third parties, including other websites, services, or applications that may be linked
to or from the Services. You should review the policies of such third parties and contact them directly to respond to your questions.
</p>
<h2>6. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h2>
<p>
We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific
information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Notice: http://www.gsend.pro/Company/Cookies.
</p>
<h2>7. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</h2>
<p>
Our Services offer you the ability to register and log in using your third-party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we
will receive certain profile information about you from your social media provider. The profile information we receive may vary depending on the social media provider concerned, but
will often include your name, email address, friends list, and profile picture, as well as other information you choose to make public on such a social media platform.
</p>
<p>
We will use the information we receive only for the purposes that are described in this privacy notice or that are otherwise made clear to you on the relevant Services.
Please note that we do not control, and are not responsible for, other uses of your personal information by your third-party social media provider. We recommend that you
review their privacy notice to understand how they collect, use, and share your personal information, and how you can set your privacy preferences on their sites and apps.
</p>
<h2>8. HOW LONG DO WE KEEP YOUR INFORMATION?</h2>
<p>
We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required
or permitted by law (such as tax, accounting, or other legal requirements). No purpose in this notice will require us keeping your personal information for longer than
the period of time in which users have an account with us.
</p>
<p>
When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymise such information, or, if
this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store
your personal information and isolate it from any further processing until deletion is possible.
</p>
<h2>9. HOW DO WE KEEP YOUR INFORMATION SAFE?</h2>
<p>
We have implemented appropriate and reasonable technical and organisational security measures designed to protect the security of any personal information we process.
However, despite our safeguards and efforts to secure your information, no electronic transmission over the Internet or information storage technology can be
guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorised third parties will not be able to defeat
our security and improperly collect, access, steal, or modify your information. Although we will do our best to protect your personal information,
transmission of personal information to and from our Services is at your own risk. You should only access the Services within a secure environment.
</p>
<h2>10. DO WE COLLECT INFORMATION FROM MINORS?</h2>
<p>This site is intended for people 18 years old or more.</p>
<h2> 11. WHAT ARE YOUR PRIVACY RIGHTS?</h2>
<p>
In some regions (like the EEA, UK, and Canada), you have certain rights under applicable data protection laws. These may include the
right (i) to request access and obtain a copy of your personal information, (ii) to request rectification or erasure; (iii) to restrict
the processing of your personal information; and (iv) if applicable, to data portability. In certain circumstances, you may also have the
right to object to the processing of your personal information. You can make such a request by contacting us by using the contact details provided
in the section 'HOW CAN YOU CONTACT US ABOUT THIS NOTICE?' below.
</p>
<p>We will consider and act upon any request in accordance with applicable data protection laws.</p>
<p>
If you are located in the EEA or UK and you believe we are unlawfully processing your personal information, you also have the right to
complain to your local data protection supervisory authority. You can find their contact details here: https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.
</p>
<p>If you are located in Switzerland, the contact details for the data protection authorities are available here: https://www.edoeb.admin.ch/edoeb/en/home.html.</p>
<p>
Withdrawing your consent: If we are relying on your consent to process your personal information, which may be express and/or implied consent depending on
the applicable law, you have the right to withdraw your consent at any time. You can withdraw your consent at any time by contacting us by using the
contact details provided in the section 'HOW CAN YOU CONTACT US ABOUT THIS NOTICE?' below or updating your preferences.
</p>
<p>
However, please note that this will not affect the lawfulness of the processing before its withdrawal nor, when applicable law allows, will it affect the processing
of your personal information conducted in reliance on lawful processing grounds other than consent.
</p>
<h4>Account Information</h4>
<p>If you would at any time like to review or change the information in your account or terminate your account, you can:</p>
<p>
Log in to your account settings and update your user account.
Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, we may
retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations,
enforce our legal terms and/or comply with applicable legal requirements.
</p>
<p>
Cookies and similar technologies: Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set
your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features
or services of our Services. To opt out of interest-based advertising by advertisers on our Services visit http://www.aboutads.info/choices/.
For further information, please see our Cookie Notice: http://www.gsend.pro/Company/Cookies.
</p>
<p>If you have questions or comments about your privacy rights, you may email us at gsendpro@gmail.com.</p>
<h2>12. CONTROLS FOR DO-NOT-TRACK FEATURES</h2>
<p>
Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ('DNT') feature or setting you can activate
to signal your privacy preference not to have data about your online browsing activities monitored and collected. At this stage no uniform
technology standard for recognising and implementing DNT signals has been finalised. As such, we do not currently respond to DNT browser signals or
any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must
follow in the future, we will inform you about that practice in a revised version of this privacy notice.
</p>
<h2>13. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</h2>
<p>
California Civil Code Section 1798.83, also known as the 'Shine The Light' law, permits our users who are California residents to
request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed
to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information
in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit
your request in writing to us using the contact information provided below.
</p>
<p>
If you are under 18 years of age, reside in California, and have a registered account with Services, you have the right to
request removal of unwanted data that you publicly post on the Services. To request removal of such data, please contact us
using the contact information provided below and include the email address associated with your account and a statement that
you reside in California. We will make sure the data is not publicly displayed on the Services, but please be aware that the
data may not be completely or comprehensively removed from all our systems (e.g. backups, etc.).
</p>
<h2> 14. DO WE MAKE UPDATES TO THIS NOTICE?</h2>
<p>
We may update this privacy notice from time to time. The updated version will be indicated by an updated 'Revised' date and the updated
version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by
prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice
frequently to be informed of how we are protecting your information.
</p>
<h2>15. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h2>
<p>If you have questions or comments about this notice, you may email us at gsendpro@gmail.com</p>
<h2>16. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</h2>
<p>
Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you,
change that information, or delete it. To request to review, update, or delete your personal information, please visit: http://www.gsend.pro/Account/Index.
</p>
</div>
</div>