<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuMCodes</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p><strong>What is an M Code?</strong> An M code in CNC controls miscellaneous machine functions, standard M codes include spindle control, program start and stop and coolant control, to name a few.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>GSend Pro includes a number of custom M codes that can be used within your G-code.  These allow you to customize and control external elements as well as automate tasks, whilst the program runs.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The following custom M Codes are currently supported</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead><tr><th>M Code</th><th>Description</th></tr></thead>
            <tbody>
                <tr><td><a href="/MCodes/M600/">M600</a></td><td>Pause processing of commands for upto 2 seconds.  An M600 must be immediately followed by a P value that indicates the number of milliseconds to pause for.</td></tr>
                <tr><td><a href="/MCodes/M605/">M605</a></td><td>Play a sound.</td></tr>
                <tr><td><a href="/MCodes/M620/">M620</a></td><td>Open a COM port.</td></tr>
                <tr><td><a href="/MCodes/M6xx/">M621</a></td><td>Closes a COM port.</td></tr>
                <tr><td><a href="/MCodes/M6xx/">M622</a></td><td>Sends a command to an open COM port and does not wait for a response.</td></tr>
                <!--
                <tr><td><a href="/MCodes/M6xx/">M6xx</a></td><td></td></tr>
                <tr><td><a href="/MCodes/M6xx/">M6xx</a></td><td></td></tr>
                <tr><td><a href="/MCodes/M6xx/">M6xx</a></td><td></td></tr>
                <tr><td><a href="/MCodes/M6xx/">M6xx</a></td><td></td></tr>
                <tr><td><a href="/MCodes/M6xx/">M6xx</a></td><td></td></tr>
                <tr><td><a href="/MCodes/M6xx/">M6xx</a></td><td></td></tr>
                <tr><td><a href="/MCodes/M6xx/">M6xx</a></td><td></td></tr>
                <tr><td><a href="/MCodes/M6xx/">M6xx</a></td><td></td></tr>
                <tr><td><a href="/MCodes/M6xx/">M6xx</a></td><td></td></tr>
                -->
                <tr><td><a href="/MCodes/M650/">M650</a></td><td>Add the job profile name to be used when running the code</td></tr>
            </tbody>
        </table>
    </div>
</div>
