<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuM600</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>M600 works in a similar manner to the G4 dwell command, it allows a pause between 1ms and 2000ms.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuUsage</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>M600 must be immediately followed by a P-code, the P code must have a value between 1 and 2000 which indicates the number of milliseconds to pause for.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuExample</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The following sample inserts a pause for half a second.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <code>
            @Html.ToGCode("M600P500 ; pause for 500ms")
        </code>
    </div>
</div>
