<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuM620</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>M620 is used to open a COM port, this can be used to control other devices attached to the computer, like an Arduino board.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuUsage</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>A COM port can be openend and closed as many times as required.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Each M620 command must be on a line with no other commands.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The name of the COM port must appear as a comment after the M620 command but on the same line.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>A error will be shown if the COM port does not exist.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p><a href="/Home/Variables">Variables</a> can be used to ensure the line limit of 256 characters is not breached</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>@GSend.Language.Resources.WebMenuExample</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>The following sample opens a COM port, sends a command without waiting for a response and then closes the COM port.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
            <code>
                @Html.ToGCode(@"M620 ;COM9
M622;SETPINHIGH:A9
M621;COM9
.. other g code here
M30")
            </code>

            <p>The above example assumes that there is a custom program running on the port which can accept the <a href="/MCodes/M622">M622</a> command</p>
    </div>
</div>
